
<div class="block">
  <h4>What do yoy wan't to ask to the coach?</h4>
    <form action="answer" class="form-group form-control-lg">
      <input type="text" name="input">
      <input class="btn btn-primary" type="submit" value="Ask!">
  </form>
</div>
